@import "settings";
@import "foundation";

h3{
	text-transform: uppercase;
	text-align: center;
	font-size: 2.1em;
	font-weight: 700;
	background: #91022D;
	color:#ffffff;
}

body {
    background: url(http://www.transparenttextures.com/patterns/buried.png) top left fixed;
}

h1.hed {
	text-align: center;
	font-weight: 700;
}

h3 {
	color:#ffffff;
}

h4.sub {
	text-align: center;
	color: #212121;
	text-transform: uppercase;
	font-size: 0.9em;
}

img.center {
margin: 0 auto;
float: none;
}

.intro {
	font-size: 0.9em;
	line-height: 1.1em;
}

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switches",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";
